*{
    margin:0;
}
.position{
    position: relative; 
}
.moon{
    width: 30vw;
    top: 50%;
    left: 30%;
    position: absolute;
    z-index: 20;
}

.car{
    width: 30vw;
    top: 600px;
    left: 500px;
    position: absolute;
    z-index: 10;

}

.highway{
    width: 100vw;
}


